* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colour class */
.purple {
    color: rgb(173, 16, 173);
}

.parent {
    width: 100%;
    overflow-x: hidden;

}

/* section one navbar */
nav {
    display: flex;
    width: 100%;
    height: 14vh;
    align-items: center;
    position: fixed;
    background-color: #000;
    z-index: +1;
}

.nav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 14%;
    background-color: #000;
    z-index: -1;
    opacity: 0.6;
    position: fixed;

}

nav h1 {
    color: white;
    margin: 0 50px;
}

.hamburger {
    background: wheat;
    display: none;
    margin: -5px 20px 0 10px;
    position: relative;
    left: 10px;

}

.lines {
    background: #000;
    color: #000;
    width: 25px;
    height: 5px;
    margin-top: 3px;
    border-radius: 10px;

}

nav ul {
    display: flex;
    margin-left: 17%;
    align-items: center;
}

nav ul li {
    list-style: none;
    /* margin-left: 20px; */
    /* margin: auto; */
    padding: 10px;
    color: rgb(255, 255, 255);
}

#nav-btn {
    padding: 10px;
    margin-left: 60px;
    width: 15vw;
    height: 7vh;
    border-radius: 50px;
    background: radial-gradient(circle, rgba(168, 38, 135, 1) 27%, rgba(252, 70, 107, 1) 100%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#nav-btn:hover {
    color: white;
    font-weight: bold;
}

/* Section 2 */
.two {
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.two::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 110vh;
    background: url(bg-images/bg\ 2.jpg)no-repeat center center/cover;
    /* background-position: center; */
    z-index: -2;
}

.sec-two-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 10%;
}

.text-border {
    /* background-color:rgb(173, 16, 173); */
    width: 24.5vw;
    /* height: 21px; */

}

.sec-two-text h1 {
    /* position: relative; */
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
}

.sec-two-text p {
    color: rgb(255, 255, 255);
    margin: 10px 0;
    background: #282828;
    text-align: center;
    width: auto;
    padding: 5px;
}

.sec-two-text button {
    width: 40%;
    padding: 10px;
    border-radius: 25px;
    background: radial-gradient(circle, rgba(168, 38, 135, 1) 27%, rgba(252, 70, 107, 1) 100%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.sec-two-text button:hover {
    color: white;
    font-weight: bold;
}

/* section three */
.three {
    background: url(bg-images/bg\ 3\ sec\ three.jpeg)no-repeat center center/cover;
    /* width: 100%; */
    height: 90vh;
    width: 100%;
    top: 0;
}

.three-sec {
    width: 45%;
    margin-left: 5%;
}

.three-sec div h4 {
    /* border-bottom: 2px solid gray; */
    border-bottom: 2px solid rgb(192, 192, 192);
    display: inline-block;
    margin-top: 15px;

}

.three-sec h1 {
    color: white;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.three-sec p {
    color: white;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.three-sec button {
    width: auto;
    text-align: center;
    padding: 10px 14px;
    font-size: 1rem;
    border-radius: 25px;
    color: white;
    background: radial-gradient(circle, rgba(168, 38, 135, 1) 27%, rgba(252, 70, 107, 1) 100%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 10px;
    /* outline: none; */
    border: none;
}

.three-sec button:hover {
    color: white;
    font-weight: bold;
}

.date-area {
    margin-left: 5%;
    margin-top: 6%;
    display: flex;
    justify-content: space-around;
}

.paras {
    width: 15%;
}

.paras p {
    color: white;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

.date-container {
    display: flex;
    color: white;
    justify-content: space-around;
    width: 70%;
}

.date-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    width: 15%;
    height: 15vh;
    font-size: 1.6rem;
    text-align: center;
    font-family: fantasy;

}

/* SEction Four */
.four {
    width: 100%;
}

.four-img {
    width: 100vw;
    height: auto;
    background: url(bg-images/bg\ sec4.jpg)no-repeat center center/cover;
    top: 0;

}

.Four-head {
    text-align: center;
    top: 5vh;
    position: relative;
}

.Four-head p {
    font-size: 1rem;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
}

.Four-head h2 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
}

.four-cardContainer {
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3vw;
    column-gap: 6vh;


}

.four-boxes {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 15px 15px 0 0;

}

.four-boxes:hover {
    box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
}

.card-one {
    background: url(bg-images/four-card1.jpeg)no-repeat center center/cover;
    /* background-position-x: 100%; */
    height: 60vh;
}

.card-two {
    background: url(bg-images/four-card2.jpeg)no-repeat center center/cover;
    /* width: 25%; */
    height: 60vh;

}

.card-three {
    background: url(bg-images/four-card3-2.jpeg)no-repeat right bottom/cover;
    /* width: 25%; */
    height: 60vh;
}

.card-four {
    background: url(bg-images/four-card4.jpeg)no-repeat center center/cover;
    /* width: 25%; */
    height: 60vh;
}

.card-five {
    background: url(bg-images/four-card5.jpeg)no-repeat center center/cover;
    /* width: 25%; */
    height: 60vh;
}

.card-six {
    background: url(bg-images/four-card6.jpeg)no-repeat right center/cover;
    /* width: 25%; */
    height: 60vh;

}

.four-boxes h3 {
    margin-bottom: 2%;
    margin-left: 4%;
    color: white;
}

.four-boxes h4 {
    margin-left: 4%;
    margin-bottom: 3%;
    color: rgb(158, 0, 206);
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.four-btncontainer {
    text-align: center;
    width: 100%;
    /* margin-bottom: 5%; */
    padding: 3%;
}

.Four-btn {

    padding: 10px;
    width: 15vw;
    height: 7vh;
    border-radius: 50px;
    color: white;
    border: 2px solid white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0. ease;
}

.Four-btn:hover {
    background-color: purple;
    border: none;
}
/* Section five */
.five-container{
    background : url(bg-images/bg-sec5.jpeg)no-repeat center center/cover;
    width: 100%;
    height: auto;
    
}
.fiveCard-container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.five-cards{
    width: 30%;
    /* height: 80vh; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    margin-bottom: 5%;
    letter-spacing: 1.3px;
    padding: 30px 15px 15px 15px;
    align-items: center;
}
.five-cards h1{
    font-size: 3rem;
}
.five-cards button{
    width:  60%;
    font-size: 1.1rem;
    padding: 10px;
    height: 7vh;
    border-radius: 50px;
    background: radial-gradient(circle, rgba(168, 38, 135, 1) 27%, rgba(252, 70, 107, 1) 100%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    text-transform: capitalize;
    transition: background 0.5s ease-in-out;
}
.five-cards button:hover{
    background: grey;
}
.fa-lock{
    font-size: 8rem ;
    text-align: center;
    margin-bottom: 5vw;
    /* color: aqua; */

}
.five-containertext{
    top: 5vmin;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.five-containertext p{
    letter-spacing: 2px;
}
.five-containertext h1{
    letter-spacing: 1px;
    font-size: 2.5rem;
}

/* section six */
.six{
    background: linear-gradient(135deg,#1a2a6c,#b21f1f,#fdbb2d);
    width: 100%;
    height: auto;
    overflow-x: hidden;
    padding: 1rem;

}
.six-header{
    text-align: center;
    margin: 2rem 0 ;
    letter-spacing: 0.5px;
}

.six-header h1{
    color: white;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.cards-con-six{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cards-con-six div{
    width: 21%;
    border: 0.5px dotted;
    height:202px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-con-six div img{
    width: 80%;
    height: 150px;
    mix-blend-mode:darken;
}
.six-footer{
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.six-fo{
    padding: 1rem;
    width: 40%;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 2rem;
    backdrop-filter: blur(200px);
}

.six-t-img{
    margin-top: 0.5rem;
    display: flex;
}
.six-t-img img{
    width: 20%;
    height: 70%;
    display: block;
    mix-blend-mode:color-dodge;
    border-radius: 100%;
}
.text-six{
    margin-left: 0.8rem;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text-six h2{
font-size: 1.2rem;
}
.text-six h1{
font-style: italic;
}
/* section seven 7 */
.seven{
    padding: 1rem;
    width: 100%;
    background: #000;
    color: white;
    height: 50vh;
}
.seven-con{
    display: flex;
}
.sev-box,
.sev-box2{
    width: 45%;
    padding: 1rem;
}
.sev-box p{
    margin: 10px;
    letter-spacing: 1px;
    
}
.sev-box h1{
    font-size: 2rem;
}
.sev-box p i{
    margin-right: 5px;
    font-size: 2rem;
    animation: color 2s ease-in-out infinite;
}

.foo-icons i{
    font-size: 3rem;
    margin-left: 2rem;
    animation: color 2s ease infinite;
}
.para{
    border-bottom: 1px solid;
    display: inline-block;
    border-top: 1px solid;
    font-size: 1.2rem;
}
@keyframes color{
    from{
        color: rgb(242, 242, 242);
    }
    35%{
        color: #3f3e3e;
    }
    75%{
        color: rgb(99, 99, 138);
    }
    100%{
        color: wheat;
    }
}

@media (min-width: 769px) and (max-width: 1124px) {
    .hamburger {
        display: block;


    }

    nav {
        position: relative;
        height: 14vh;
        left: 0%;
        position: fixed;
    }

    .nav {
        height: 0;
    }

    nav ul {
        display: none;
        overflow: hidden;
        left: -70%;
        /* left: -500px; */
        background-color: aliceblue;
        width: 30vw;
        height: 70vh;
        color: #000;
        position: absolute;
        top: 14vh;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        transition: left 1s ease;
        /* display: none; */
        /* width: auto; */

    }

    nav .active {
        left: -17%;
    }

    nav ul li {
        color: #000;
    }

    #nav-btn {
        margin: 0;
        margin-left: 10px;
        /* width: 30vw; */
        /* font-size: 0.5rem; */
        /* padding: -20 20px; */
    }

    .date-boxes {
        font-size: 1.2rem;
        width: 17%;
        height: auto;



    }

    .four-boxes {
        margin-top: 5%;
        width: 38%;
        background-position-x: center;

    }

    .Four-btn {
        width: 40vw;
    }
    .five-cards{
        width: 30%;
        /* height: 80vh; */
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 10px;
        margin-bottom: 5%;
        padding: 30px 15px 15px 15px;
        align-items: center;
    }
    .five-cards p{
        font-size: 0.8rem;
    }
    .five-cards button{
        width: 20vw;
        padding: 0;
    }
    .cards-con-six div img{
        width: 70%;
        height: 70%;
    }
    .cards-con-six div{
        width: 21%;
        height: 150px;
    }
    .six-fo{
        width: 45%;
        font-size: 1rem;
    }
    .para{
        font-size: 1rem;
    }
    .sev-box,
    .sev-box2{
        width: 50%;
    }
}



@media (min-width: 481px) and (max-width: 768px) {
    .hamburger {
        display: block;
        transform: translateX(100%);

    }

    nav {
        position: relative;
        height: 14vh;
        left: 0%;
        position: fixed;

    }

    .nav {
        height: 0;
    }

    nav ul {
        display: none;
        overflow: hidden;
        left: -70%;
        background-color: aliceblue;
        width: 40vw;
        height: 70vh;
        color: #000;
        position: absolute;
        top: 14vh;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        /* display: none; */
        /* width: auto; */
        transition: all 0.5s ease-out;
    }

    nav .active {
        left: -17%;
    }

    nav ul li {
        color: #000;
    }

    #nav-btn {
        margin: 0;
        margin-left: 10px;
        /* width: 30vw; */
        font-size: 0.5rem;
        /* padding: -20 20px; */
    }

    .sec-two-text h1 {
        font-size: 3rem;
    }

    .three-sec h1 {
        font-size: 2.5rem;
    }

    .three-sec p {
        font-size: 1rem;
    }

    .paras p {
        font-size: 0.8rem;

    }

    .date-boxes {
        font-size: 1rem;
        width: 15%;
        height: auto;
    }

    .four-boxes {
        margin-top: 5%;
        width: 75%;
        background-position-x: center;

    }

    .Four-btn {
        width: 40vw;
    }
    .fiveCard-container{
        flex-wrap: wrap;
    }
    .five-cards{
        width: 80%;
        padding-bottom: 5%;
        border-radius: 5px;
        letter-spacing: 2px;
    }   .cards-con-six div img{
        width: 50%;
        height: 40%;
    }
    .cards-con-six div{
        width: 21%;
        height: 100px;
    }.six-fo{
        width: 48%;
        font-size: 0.8rem;
    }
    .six-footer{
        justify-content: space-between;
        padding: 0%;
    }
    .para{
        font-size: 0.5rem;
        border-top: none;
    }
    .sev-box p i{
        margin-right: 5px;
        font-size: 1rem;
    }
    .sev-box p{
        margin: 10px;
        letter-spacing: 0px;
        font-size: 0.6rem;
        
    }
    .foo-icons i{
        font-size: 2rem;
        margin-left: 2rem;
    }
    
    .sev-box,
    .sev-box2{
        width: 50%;
        padding: 1rem;
    }
  
}

@media (max-width: 480px) {
    .two::before {
        background-position: center;
    }

    .hamburger {
        display: block;

    }


    nav {
        position: relative;
        height: 14vh;
        left: 0%;
        position: fixed;
    }

    .nav {
        height: 0;
    }

    nav ul {
        /* display: none; */
        overflow: hidden;
        left: -200%;
        background-color: aliceblue;
        width: 100vw;
        height: 53vh;
        color: #000;
        position: absolute;
        top: 14vh;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        transition: left 1s ease-in-out;
        /* display: none; */
        /* width: auto; */
    }

    nav .active {
        left: -17%;
    }

    nav ul li {
        color: #000;
        font-size: 0.7rem;
    }

    #nav-btn {
        margin: 0;
        margin-left: 10px;
        width: 30vw;
        font-size: 0.5rem;
        /* padding: -20 20px; */
    }

    .nav::before {
        overflow: hidden;
    }

    .sec-two-text h1 {
        font-size: 2rem;
    }

    .sec-two-text p {
        font-size: 0.7rem;
    }

    .sec-two-text button {
        padding: auto;
        font-size: 0.8rem;
        width: auto;
    }

    .three-sec {
        width: 90%;
    }

    .three-sec h1 {
        font-size: 2.5rem;
    }

    .three-sec p {
        font-size: 1rem;
    }

    .date-area {
        flex-direction: column;
    }

    .paras {
        width: 100%;
        margin-bottom: 10px;
    }

    .paras p {
        font-size: 1.3rem;
    }

    .date-container {
        width: 95%;
    }

    .date-boxes {
        font-size: 0.8rem;
        padding: 5px;
        width: 18%;
        height: 17%;
        margin-bottom: 10%;
    }

    .three {
        height: auto;
    }

    .four-boxes {
        margin-top: 5%;
        width: 90%;
        background-position-x: center;

    }

    .Four-head {
        padding: 4%;
    }

    .Four-head p {
        font-size: 0.8rem;
        color: white;
        font-weight: 100;
        text-transform: uppercase;
    }

    .Four-head h2 {
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        color: white;
    }

    .Four-btn {
        width: 50vw;
    }
    .fiveCard-container{
        flex-wrap: wrap;
    }
    .five-cards{
        width: 80%;
        padding-bottom: 5%;
        border-radius: 5px;
        letter-spacing: 2px;
    }
    .six-header h1{
        font-size: 1.5rem;
    }
    .six-header h2{
        font-size: 1rem;
    }
    
    .cards-con-six div img{
        width: 50%;
        height: 40%;
    }
    .cards-con-six div{
        width: 21%;
        height: 100px;
    }
    .six-fo{
        width: 48%;
        font-size: 0.5rem;
    }
    .six-footer{
        justify-content: space-between;
        padding: 0%;
    }
    .text-six h1{
        font-size: 0.8rem;

    }
    .text-six h2{
        font-size: 0.7rem;
    }
    .para{
        font-size: 0.5rem;
        border-top: none;
    }
    .sev-box p i{
        margin-right: 5px;
        font-size: 1rem;
        animation: color 2s ease-in-out infinite;
    }
    .sev-box p{
        margin: 10px;
        letter-spacing: 0px;
        font-size: 0.4rem;
        
    }
    .foo-icons{
        display: flex;
    }
    .foo-icons i{
        font-size: 1rem;
        margin-left: 2rem;
        animation: color 2s ease infinite;
    }
    
    .sev-box,
    .sev-box2{
        width: 50%;
        padding: 1rem;
    }
    .sev-box h1{
        font-size: 1rem;
    }
}